  html {
    scroll-behavior: smooth;
}

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #e5d3b3;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    float: right;
    position: absolute;
    right: 40px;
    width: auto;
  }
  
  nav li {
    margin-right: 120px;
  }
  
  nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: gray;
    font-size: 30px;
    position: relative;
    top: -33px; 
  }
  
  .header {
    width: 100%;
    height: 110px;
    background-color: #d2b48c;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header h1 {
    display: flex;
    justify-content: left;
    font-size: 80px;
    margin-left: 6%;
    color: gray;
  }
  
  .mypic {
    padding: 10px;
    border: 10px solid #987554;
    margin-top: 10px;
    }
  
  #About-me {
    padding: 10px 0;
  }

  .containeraboutme {
    display: flex;
    flex-direction: column;
    justify-content:right;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 300px;
    bottom: 440px;
  }
  .about-me {
    display: flex;
    justify-content: right;
    font-size: 40px;
    background-color: #987554;
    color: whitesmoke;
    margin: 30px;
    padding: 20px;
    text-align: center;
  }
  
  .about-me-p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    width: 55%;
  }
  #Work {
    padding: 10px 0;
  }
  
  .containerwork {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
  }

  .workprojects {
    display: flex;
  }
 
  .container {
    background-color: #d2b48c;
    margin-top: 20px;
    width: 100%;
    position: relative;
    bottom: 330px;
    height: 980px;
  }

  .horiseon:hover {
    background-color: grey;
  }

  .horiseon-image {
    width: 500px;
    height: 670px;
  }

  .horiseon-image:hover{
    background-color: grey;
  }
  
  .work {
    font-size: 40px;
    background-color: #987554;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    width: 97%;
    position: relative;
    bottom: 50px;
  }

  .horiseon {
    display: inline;
    text-align: center;
    height: 780px;
    width: 500px;
    background-color: #987554;
    position: absolute;
    left: 50px;
    top: 160px;
    border: 10px;
    border-style: solid;
    border-color: black;

  }