  html {
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #e5d3b3;
  }

  nav {
    align-self: center;
  }

  nav ul {
    list-style: none;
    display: flex;
  }

  nav li {
    margin-left: 110px;
    margin-right: 10px;
  }

  nav a {
    text-decoration: none;
    color: #28282B;
    font-size: 30px;
    justify-content: space-between;
    margin-right: 40px;
  }

  header {
    width: 100%;
    background-color: #d2b48c;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header h1 {
    font-size: 80px;
    color: #28282B;
    margin: 0;
    margin-left: 180px;
  }

  .mypic {
    padding: 10px;
    border: 10px solid #987554;
    margin-top: 10px;
  }

  .aboutwrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .containeraboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    width: 55%;
    justify-content: center;
  }

  .about-me {
    font-size: 40px;
    background-color: #987554;
    color: #28282B;
    margin: 30px;
    padding: 20px;
    text-align: center;
  }

  .about-me-p {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    width: 55%;
    color: #28282B;
  }

  .container {
    display: grid;
    background-color: #d2b48c;
    margin-top: 20px;
  }

  .horiseon:hover,
  .ph1:hover,
  .ph2:hover,
  .ph3:hover,
  .ph4:hover {
    background-color: #6F4E37;
  }

  .horiseon-image {
    width: 460px;
    height: 650px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .work {
    font-size: 40px;
    background-color: #987554;
    color: #28282B;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 26px;
  }

  .workprojects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .horiseon {
    text-align: center;
    height: 780px;
    width: 500px;
    background-color: #987554;
    border-style: solid;
    border-color: #28282B;
    margin-bottom: 40px;
    color: #28282B;
  }

  .ph1,
  .ph2,
  .ph3,
  .ph4 {
    align-self: center;
    text-align: center;
    background-color: #987554;
    height: 50%;
    padding: 10px;
    border: 3px;
    border-style: solid;
    border-color: #28282B;
    color: #28282B;
  }

  .contactmecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .contactalign {
    text-align: center;
    color: #28282B;
  }

  .contactme {
    background-color: #987554;
    font-size: 40px;
    color: #28282B;
  }

  .footer {
    background-color: #d2b48c;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: #28282B;
    font-weight: bold;
  }